@import url("./normalize.css");
@import url("./fonts.css");
html {
  height: 100%;
}

body {
  font-family: "AlegreyaSans", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
  color: #666666;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

address {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 60.3rem;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 59rem;
  position: relative;
}

.welcome {
  background: url(../img/decor/branch.png) right bottom/auto no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 40.75rem;
  color: #ffffff;
  position: relative;
}
.welcome:before {
  position: absolute;
  bottom: -4rem;
  left: 0;
  content: url(../img/decor/leaf-small.png);
}
.welcome:after {
  position: absolute;
  bottom: -3.6rem;
  right: 0;
  content: url(../img/decor/berries-leaves.png);
}

.welcome__container {
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome__content {
  max-width: 43%;
}

.welcome__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.welcome__motto {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  padding-right: 10%;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}

.welcome__img-container {
  max-height: 30rem;
  max-width: 30rem;
}

.welcome__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.welcome__icons-section {
  max-width: 50%;
  max-height: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 2.3rem;
}

.menu__item {
  margin-right: 1.5rem;
}
.menu__item:last-of-type {
  margin-right: 2.3rem;
}

.phone {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.phone__img {
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.3rem;
  fill: #ffffff;
}

.icons {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.icons__item {
  margin-right: 2.55rem;
}
.icons__item:last-of-type {
  margin-right: 0;
}

.icon {
  display: flex;
}

.icon__pic-container {
  width: 2.5rem;
  margin-right: 0.55rem;
}

.icon__pic {
  width: 100%;
  height: 100%;
  fill: #c6f7ff;
}

.icon__text {
  font-size: 0.95rem;
  max-width: 4.8rem;
  line-height: 1.2;
}

.btn {
  display: inline-flex;
  font-size: 1.25rem;
  border-radius: 5.5rem;
  padding: 1.01rem 2.05rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  border: none;
}
.btn--color--white {
  background-color: #ffffff;
  color: #365a49;
}
.btn--color--white:hover {
  background-color: #2e4e3f;
  color: #ffffff;
}
.btn--color--green {
  background-color: #365a49;
  color: #ffffff;
}
.btn--color--green:hover {
  background-color: #ffffff;
  color: #365a49;
}
.btn--color--clear {
  background-color: transparent;
  color: #000000;
  font-size: 1rem;
  text-transform: none;
  padding: 0 1.03rem;
}
.btn--color--clear:hover {
  background-color: transparent;
}

.section {
  height: 100vh;
  min-height: 40.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  color: #000000;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.4rem;
}

.headline__motto {
  padding: 0 28%;
  margin-bottom: 3.5rem;
  line-height: 1.1;
}

.advantages {
  display: flex;
  max-width: 72.5%;
  align-self: center;
}

.advantages__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.advantages__item:before {
  content: url(../img/decor/dots.png);
  position: absolute;
  top: 3.5rem;
  right: 0;
  transform: translateX(50%);
}
.advantages__item:last-of-type {
  padding-right: 0;
}
.advantages__item:last-of-type:before {
  display: none;
}
.advantages__item:first-of-type {
  padding-left: 0;
}

.advantage {
  text-align: center;
}

.advantage__pic {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2f5f4;
  margin-bottom: 1.2rem;
}

.advantage__img {
  width: 4.8rem;
  height: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2e2d;
}

.advantage__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
}

.advantage__text {
  line-height: 1.2;
}

.section-why {
  position: relative;
  background: url(../img/decor/leaf-why.png) left top 57% no-repeat;
}
.section-why:before {
  position: absolute;
  content: url(../img/decor/bars-raspberry.png);
  left: 0;
  bottom: -8.5rem;
}

.reviews__content {
  margin-bottom: 1.2rem;
}

.reviews__all {
  display: flex;
  justify-content: center;
}

.review {
  background: url(../img/decor/blackberry-bush.png) top right no-repeat;
  background-color: #f8faf9;
  padding: 2.8rem 2.7rem 1.9rem;
  overflow: hidden;
  position: relative;
}
.review:before {
  position: absolute;
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
}

.review__container {
  display: flex;
}

.review__avatar {
  width: 14.5rem;
  height: 14.8rem;
}

.review__pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.review__content {
  margin-left: 1.2rem;
  flex: 1;
  max-width: 51%;
  padding-top: 0.45rem;
}

.review__title {
  color: #000000;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.95rem;
}

.review__text {
  margin-bottom: 1.5rem;
  line-height: 1.25;
}

.review__name {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}

.avatar-menu {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 0.1rem;
}
.avatar-menu:last-of-type {
  margin-right: 0;
}
.avatar-menu:focus {
  border-color: transparent;
  outline: transparent;
}

.avatar-menu__link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 0.5rem solid transparent;
  border-radius: 50%;
}
.avatar-menu__link--active, .avatar-menu__link:hover, .avatar-menu__link:focus {
  border-color: #0f5a47;
}

.avatar-menu__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-reviews {
  background: url(../img/decor/leaf-reviews.png) top 150% left no-repeat;
  position: relative;
}
.section-reviews:before {
  content: url(../img/decor/strawberry.png);
  position: absolute;
  top: 2.5rem;
  right: 0;
}
.section-reviews:after {
  content: url(../img/decor/berries-reviews.png);
  position: absolute;
  bottom: -5.6rem;
  left: 0;
  z-index: 1;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 1.2rem;
}
.form__col:last-of-type {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 0.9rem;
}

.form__cell {
  flex: 1;
  margin-right: 1.2rem;
}
.form__cell:last-of-type {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  height: 3.4rem;
  padding: 1rem 1.6rem;
  border: 0.17rem solid transparent;
}
.form__input:focus {
  outline: none;
  border-color: #dee2bd;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}

.form__title {
  font-size: 1rem;
  color: #365a49;
}

.form__elements {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.45rem;
}

.form__btns {
  margin-top: 2.2rem;
}

.section-form {
  background: url(../img/decor/form-bg.png) center center;
  position: relative;
}
.section-form:before {
  content: url(../img/decor/form-blueberry.png);
  position: absolute;
  bottom: 3.5rem;
  left: 0;
}
.section-form:after {
  content: url(../img/decor/form-leaf.png);
  position: absolute;
  bottom: 3.5rem;
  right: 0;
}

.section-form__title {
  color: #365a49;
  margin-bottom: 2.1rem;
}

.radio {
  cursor: pointer;
  display: flex;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 24px;
}
.radio:last-of-type {
  margin-right: 0;
}
.radio--checkbox .radio__btn {
  border-radius: 0;
}
.radio--checkbox .radio__btn:before {
  background: url(../img/icons/sprite.svg#checkmark) center center no-repeat;
  fill: #365a49;
}

.radio__input {
  display: none;
}
.radio__input:checked ~ .radio__btn:before {
  display: block;
}

.radio__btn {
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  margin-right: 7px;
}
.radio__btn:before {
  content: "";
  position: absolute;
  display: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #365a49;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  font-size: 1rem;
  color: #365a49;
}

.dots-menu {
  position: fixed;
  z-index: 100;
  top: 32%;
  right: 3%;
}

.dots-menu__item {
  margin-bottom: 0.3rem;
}
.dots-menu__item--active .dots-menu__link, .dots-menu__item:hover .dots-menu__link {
  border-color: #ffffff;
}

.dots-menu__link {
  width: 0.9rem;
  height: 0.9rem;
  border: 0.05rem solid transparent;
  border-radius: 50%;
  position: relative;
  display: block;
}
.dots-menu__link:before {
  position: absolute;
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  background-color: #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
}

.contacts {
  text-decoration: none;
}
.contacts .phone__img {
  fill: #365a49;
}

.contacts__add {
  font-size: 1.2rem;
  color: #000000;
}

.contacts__phone {
  font-size: 1.2rem;
  color: #365a49;
}

.socials__list {
  display: flex;
}

.socials__item {
  margin-right: 1.2rem;
}
.socials__item:last-of-type {
  margin-right: 0;
}
.socials__item .socials__link .socials__img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.socials__item:hover .socials__link .socials__img {
  opacity: 1;
}

.socials__link {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
}

.locations-container {
  position: relative;
}