.advantages {
    display: flex;
    // max-width: 72.5%;
    align-self: center;

    @include phones {
        flex-direction: column;
    }
}

.advantages__item {
    flex: 1;
    padding: 0 3%;
    position: relative;


    @include phones {
        padding: 0;
    }

    &:before {
        content: url(../img/decor/dots.png);
        position: absolute;
        top: rem(55px);
        right: 0;
        transform: translateX(50%);
    }

    &:last-of-type {
        padding-right: 0;

        &:before {
            display: none;
        }
    }

    &:first-of-type {
        padding-left: 0;
    }

    @include tablets {
        &:before {
            display: none;
        }
    }
}

