.footer {
    display: flex;
    width: 100%;
    min-height: 5.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include phones {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 35px;
    }  
}