.icon {
    display: flex;
}

.icon__pic-container {
    width: rem(45px);
    margin-right: rem(10px);
}

.icon__pic {
    width: 130%;
    height: 100%;
    fill: #c6f7ff;
}

.icon__text {
    font-size: rem(16px);
    max-width: rem(85px);
    line-height: 1.2;
}