.section-why {
    position: relative;
    background: url(../img/decor/leaf-why.png) left top 57% no-repeat;

    @include tablets {
        background-position: left top;
    }

    @include phones {
        background: none;
    }

    &:before {
        position: absolute;
        content: url(../img/decor/bars-raspberry.png);
        left: 0;
        bottom: rem(-93px);

        @include phones {
            display: none;
        }
    }
}