.accord {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
}

.accord__item{
    height: 100%;
    display: flex;
    color: #ffffff;
}

.accord__link {
    display: flex;
    width: rem(100px);
    text-align: center;
    // justify-content: flex-start;
    // align-items: center;
}


.accord__tittle{
    margin-left: rem(15px);
    width: 100%;
    height: 100%;
    font-size: rem(48px);
    font-weight: 700;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    background-position: cover;
}

.accord__content {
    width: 0;
    overflow: hidden;
    transition: 1s;
}

.item-active .accord__content {
    width: rem(630px);

    @include tablets {
        width: rem(515px);
    }

    @include phones {
        width: rem(245px);
    }
}
 
.accord__text {
    height: 100%;
    min-width: rem(630px);
    padding: rem(50px) rem(226px) rem(50px) rem(27px);
    overflow-y: auto;
    font-size: 16px;
    background-color: #333537;
    opacity: 0.93;
    position: relative;
}