.advantage{
    text-align: center;
}

.advantage__pic {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f2f5f4;
    margin-bottom: 20px;
}

.advantage__img {
    width: 75px;
    height: 69px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.advantage__title {
    font-size: 27px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}

.advantage__text {
    line-height: 1.2;
} 