.btn {
    display: inline-flex;
    font-size: 1.25rem;
    border-radius: 5.5rem;
    padding: 1.01rem 2.05rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    border: none;

    &--color--white {
        background-color: #ffffff;
        color: $darkGreen;

        &:hover {
            background-color: #2e4e3f;
            color: #ffffff;
        }
    }

    &--color--green {
        background-color: $darkGreen;
        color: #ffffff;

        &:hover {
            background-color: #ffffff;
            color: $darkGreen;
        }
    }

    &--color--clear {
        background-color: transparent;
        color: #000000;
        font-size: 1rem;
        text-transform: none;
        padding: 0 1.03rem;

        &:hover {
            background-color: transparent;
        }
    }
}