.dots-menu {
    position: fixed;
    z-index: $z-dots-menu;
    top: 32%;
    right: 3%;

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.dots-menu__item {
    margin-bottom: rem(5px);

    &--active, &:hover {
        .dots-menu__link {
            border-color: #ffffff;
        }
    }
}

.dots-menu__link {
    width: rem(16px);
    height: rem(16px);
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    display: block;

    &:before {
        position: absolute;
        content: '';
        width: rem(6px);
        height: rem(6px);
        background-color: #ffffff;
        border-radius: 50% ;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
}