.form { 
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 17.7%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(20px);

    &:last-of-type{
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(16px);

    @include tablets {
        margin-bottom: 10px;
    }

    @include phones {
        margin-bottom: 16px;
    }
}

.form__cell {
    flex: 1;
    margin-right: rem(20px);

    &:last-of-type {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    height: rem(60px);
    padding: rem(18px) rem(11px);
    border: rem(3px) solid transparent;

    @include tablets {
        height: rem(33px);
    }    

    &:focus {
        outline: none;
        border-color:#dee2bd;
    }

    &--textarea{
        height: rem(180px);
        resize: none;

        @include tablets {
            height: rem(90px);
        }
    }
}

.form__title {
    font-size: rem(18px);
    color: $darkGreen;
}

.form__elements {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(8px);

    @include tablets {
        margin-bottom: rem(13px);   
    }

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    margin-top: rem(40px);

    @include tablets {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: rem(44px);
    }

    @include phones {
        margin-top: 32px;
    }
}