.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(5px);

    @include phones {
        margin-bottom: 0;
    }
}

.headline__motto {
    padding: 0 28%;
    margin-bottom: rem(54px);
    line-height: 1.1;

    @include tablets {
        padding: 0 22%;
        margin-bottom: rem(59px);
    }

    @include phones {
        padding: 0;
        margin-bottom: rem(65px);
    }
}