.radio {
    cursor: pointer;
    display: flex;
    user-select: none;
    margin-right: rem(24px);

    @include tablets {
        margin-right: rem(33px);   
    }

    @include phones {
        margin-bottom: rem(10px);
    }

    &:last-of-type {
        margin-right: 0;
    }

    &--checkbox {
        .radio__btn {
            border-radius: 0;

            &:before {
                content: '';
                // background-image: url('../img/icons/sprite.svg#checkmark');utf8,<svg><symbol fill= '%23365A49' viewBox= '0 0 10.9 8.7'><path class='st0' d='M10.3,0.6L10.3,0.6C9.6-0.2,8.4-0.2,7.7,0.5L4,4.2L3.2,3.4c-0.7-0.7-1.9-0.7-2.6,0L0.5,3.4
                // c-0.7,0.7-0.7,1.9,0,2.6l2.2,2.2C3.1,8.6,3.6,8.7,4,8.7c0.5,0,0.9-0.2,1.3-0.5l5-5C11,2.5,11,1.3,10.3,0.6z'/></symbol></svg>;
            }
        }
    }
}

.radio__input {
    display: none;
    
    &:checked ~ .radio__btn{
        &:before {
            display: block;
        }
    }
}

.radio__btn {
    width: rem(28px);    
    height: rem(28px); 
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    margin-right: rem(7px);

    &:before {
        content: '';
        position: absolute;
        display: none;
        width: rem(14px); 
        height: rem(14px); 
        border-radius: 50%;
        background-color: $darkGreen;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.radio__title {
    font-size: rem(18px);
    color: $darkGreen;
}