.reviews__content {
    margin-bottom: rem(20px);

    @include tablets {
        margin-bottom: rem(30px);   
    }

    @include phones {
        margin-bottom: rem(15px);   
    }
}

.reviews__all {
    display: flex;
    justify-content: center;
}

