.section-reviews {
    background: url(../img/decor/leaf-reviews.png) top 132% left no-repeat;
    position: relative;

    &:before {
        content: url(../img/decor/strawberry.png);
        position: absolute;
        top: rem(82px);
        right: 0;

        @include tablets {
            top: 0;
        }

        @include phones {
            top:rem(74px);
        }
    }

    &:after {
        content: url(../img/decor/berries-reviews.png);
        position: absolute;
        bottom: rem(-63px);
        left: 0;
        z-index: 1;
    }
}