.section-form {
    background: url(../img/decor/form-bg.png) center center;
    position: relative;

    &:before {
        content: url(../img/decor/form-blueberry.png);
        position: absolute;
        bottom: 3.5rem;
        left: 0;

        @include tablets{
            display: none;
        }

        @include phones{
            display: none;
        }
    }

    &:after {
        content: url(../img/decor/form-leaf.png);
        position: absolute;
        bottom: 3.5rem;
        right: 0; 

        @include tablets{
            display: none;
        }

        @include phones {
            display: none;
        }
    }
}

.section-form__title {
    color: $darkGreen;
    margin-bottom: rem(37px);

    @include tablets {
        margin-bottom: rem(24px);   
    }

    @include phones {
        margin-bottom: rem(20px);
    }
}