.section-reviews {
    background: url(../img/decor/leaf-reviews.png) top 150% left no-repeat;
    position: relative;

    &:before {
        content: url(../img/decor/strawberry.png);
        position: absolute;
        top: 2.5rem;
        right: 0;
    }

    &:after {
        content: url(../img/decor/berries-reviews.png);
        position: absolute;
        bottom: -5.6rem;
        left: 0;
        z-index: 1;
    }
}