.section-menu {
    background: url(../img/menu/bg.png) center center no-repeat;
    background-size: cover;
    background-color: #000000;
    display: block;
}

.section-menu__container {
    height: 100%;
    width: 100%;
}

.section-menu-tittle {
    color: #ffffff;
    text-align: start;
    padding-top: rem(100px);
}